# ========================
# directories
# ========================
/.vscode/


# ========================
# files
# ========================
/.gitigore
/.DS_Store

/c_c++/.DS_Store
/sample_c++/.DS_Store

